<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>index</title>
</head>
<body>
  <article>
    <h1>東映アニメーション プリキュア公式</h1>
    <div>
      <dl>
        <dt>Atomフィード</dt>
        <dd><a href="/feed/v1.0/site/toei">https://<%= @config['local']['server_name'] %>/feed/v1.0/site/toei</a></dd>
        <dt>BOT</dt>
        <dd><a href="https://precure.ml/@toei_bot" target="_blank">https://precure.ml/@toei_bot</a></dd>
        <dt>ソース</dt>
        <dd><a href="http://www.toei-anim.co.jp/tv/precure/" target="_blank">http://www.toei-anim.co.jp/tv/precure/</a></dd>
      </dl>
    </div>
  </article>
  <article>
    <h1>ABC毎日放送 プリキュア公式</h1>
    <div>
      <dl>
        <dt>Atomフィード</dt>
        <dd><a href="/feed/v1.0/site/abc">https://<%= @config['local']['server_name'] %>/feed/v1.0/site/abc</a></dd>
        <dt>BOT</dt>
        <dd>準備中</dd>
        <dt>ソース</dt>
        <dd><a href="https://www.asahi.co.jp/precure/" target="_blank">https://www.asahi.co.jp/precure/</a></dd>
      </dl>
    </div>
  </article>
  <article>
    <h1>プリキュアガーデン</h1>
    <div>
      <dl>
        <dt>Atomフィード</dt>
        <dd><a href="/feed/v1.0/site/garden">https://<%= @config['local']['server_name'] %>/feed/v1.0/site/garden</a></dd>
        <dt>BOT</dt>
        <dd>準備中</dd>
        <dt>ソース</dt>
        <dd><a href="http://www.toei-anim.co.jp/ptr/precure/" target="_blank">http://www.toei-anim.co.jp/ptr/precure/</a></dd>
      </dl>
    </div>
  </article>
</body>
</html>